@import "./Styles/styles.scss";
@import "./Styles/sections.scss";
@import "./Styles/avatar.scss";
@import "./Styles/searcheForm.scss";
@import "./Styles/conversationTile.scss";
@import "./Styles/senderMessageForm.scss";
@import "./Styles/login.scss";
@import "./Styles/illustrations.scss";
@import "./Styles/message.scss";
@import"./Styles/loaders.scss";
