.conversationTile {

    display: flex;
    justify-content: space-between;
    gap: 4%;
    border-bottom: solid 1px rgba(0, 0, 0, 0.13);
    min-height: 10vh;
    padding: 2% 0;
    gap: 1%;

    .user-profil {
        width: 50px;

    }

    .user-detail {
        padding: 3%;
        width: 90%;

        .user-name {
            font-size: 13px;
        }

        .message-label {
            font-size: 8px;
        }

    }

}