.login-page {
  display: grid;

  width: 100%;
  height: 100vh;
  grid-template-columns: 50% 50%;

  .login-section {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 6% 10%;

    .form {
      padding: 0 10%;
      background-color: white;
      height: 95%;
      width: 100%;
      display: flex;
      justify-content: center;
      flex-direction: column;
      border-radius: 12px;
      gap: 8%;
    }

    .title {
      font-size: 45px;
      color: $Fortiary-color;
    }

    .sub-title {
      font-size: 16px;
      color: $Fortiary-color;
    }

    input {
      background-color: white;
      border: rgba(80, 76, 76, 0.199) solid 1px;
      height: 100px;
      width: 93%;
      height: 40px;
      border-radius: 8px;

      display: flex;
      justify-content: space-between;
      align-items: center;

      input[type="text"] {
        font-size: 12px;
        font-weight: 800;
      }
    }

    button {
      display: flex;
      background-color: $Primary-color;
      border: rgba(80, 76, 76, 0.199) solid 1px;
      align-items: center;
      justify-content: center;
      width: 30%;
      height: 30px;
      border-radius: 8px;
      cursor: pointer;

      a {
        color: $Secondary-color;
      }
    }

    button:hover {
      background-color: black !important;
    }

    .btn-group {
      display: flex;
      justify-content: space-between;
      width: 100%;
      align-items: center;
    }

    a {
      all: unset;
      color: $Primary-color;
      cursor: pointer;
      font-size: 18px;
    }

    a:hover {
      color: black !important;
    }
  }

  .ilustartion-section {
    display: grid;
    grid-template-columns: 80%;
    padding: 0% 10%;
  }
}
