.message,
.from {
  display: flex;
  flex-direction: column;
  align-self: center;
  word-wrap: break-word;
  padding: 1.5%;
  margin: 1% 0;
  box-sizing: border-box;
  max-width: 80%;
  width: max-content;
  margin-right: auto;
  background-color: $Fortiary-color;
  border-radius: 12px;
  gap: 2%;
}

.to {
  display: flex;
  flex-direction: column;
    align-self: center;
    word-wrap: break-word;
    padding: 1.5%;
    margin: 1% 0;
    box-sizing: border-box;
    max-width: 80%;
    width: max-content;
    margin-left: auto;
    background-color: $Primary-color;
    border-radius: 12px;
    gap: 2%;
}

.message-content {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  word-break: break-all;
  color: white;
  font-weight: 500;
  gap: 2px;
}
