.form {
  all: unset;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2%;

  .form-send-message {
    display: flex;
    justify-content: space-between;
    width: 90%;
    height: 6vh;
    margin-top: 0%;
    justify-items: center;
    align-items: center;
    border-radius: 12px;
    padding: 2%;
    background-color: $Tertiary-color;

    input [text] {
      all: unset;
      padding: 2%;
      width: 90%;

      background-color: $Tertiary-color;
    }
  }

  button {
    all: unset;

    align-items: center;
    padding: 2%;
    margin-top: 0;
    color: $Secondary-color;
    background-color: $Primary-color;
    border-radius: 12px;
  }
}
