* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$Primary-color: #ff81ae;
$Secondary-color: #ffffff;
$Tertiary-color: #e9e9e9;
$Fortiary-color: #474646;

body {
  background-color: #e9e9e9;
}

.home {
  display: flex;
  justify-content: space-between;
  padding: 4%;
  height: 100vh;
  width: 100vw;
  gap: 2%;
}
